.team-form{

  padding:20px;
  margin:10px;
}
mat-label {
  color:black;
  font-family:sans-serif;
  font-style: italic;
  
  font-size:medium;
  font-weight: bold;
}

.teamselectbtn{
  margin-left: 20px;
}
