
  tr.example-detail-row {
    height: 0;
  }

  tr.example-issue-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-issue-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-issue-row td {
    border-bottom-width: 0;
  }

  .issue-detail {
    overflow: hidden;
  }
  .issue-description{
    width:100%;

  }
  .issuedesc{
    font-size:small;
    font-family:Georgia;
  }


table {
  width: 100%;
  background:black;
  color:white;
  table-layout: fixed;
}

.gg {
  display:none;
}

mat-paginator {

  background:transparent;
  color:black;
}

.matInput {
  width:70%;
}

td{
  width:5%;
color:White;
overflow: hidden;
font-size:x-small;
  text-overflow: ellipsis;
  word-wrap: break-word;
  padding-right:0;
}

th {
  width:5%;
  overflow: hidden;
  font-size:small;
  text-overflow: ellipsis;
  word-wrap: break-word;
  color:White;
  font-weight: bold;
}

mat-label {
  color:black;
  font-family:sans-serif;
  font-style: italic;

  font-size:small;
  font-weight: bold;
}

.mat-form-field {

  width: 50%;
}

button {
  display: inline-block;
  margin:0;
  padding:0;
}
.mat-column-expandedDetail {
  flex:none;
  width:10%
}
.mat-icon{
  color:black;
  height:0.932rem !important;
  width:0.932rem !important;
  font-size:0.932rem !important;
}
.p1{
  color:black;
  height:1.932rem !important;
  width:1.932rem !important;
  font-size:1.932rem !important;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type
{
  padding-right:0;
}

@media(min-width:40rem)

{
  mat-label {
    color:black;
    font-family:sans-serif;
    font-style: italic;
  
    font-size:medium;
    font-weight: bold;
  }
  .mat-form-field {

    width: 30%;
  }
td{
  width:25%;
color:White;
font-size:small;
overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

th {
  width:25%;
  overflow: hidden;
  font-size:small;
  text-overflow: ellipsis;
  word-wrap: break-word;
  color:White;
  font-weight: bold;
}

button {
  display: inline-block;
  margin:0.125rem;
  padding:0.125rem;
}
.mat-column-expandedDetail {
  flex:none;
  width:10%
}
.mat-icon{
  color:black;
  height:1.5625rem !important;
  width:1.5625rem !important;
  font-size:1.5625rem !important;
}

.issuedesc{
  font-size:medium;
  font-family:Georgia;
}

.matInput {
  width:40%;
}


}