table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  td, th {
        width: 25%;
  }
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-issue-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-issue-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-issue-row td {
    border-bottom-width: 0;
  }
  
  .example-issue-detail {
    overflow: hidden;
  }
  
