.example-container .mat-form-field + .mat-form-field {
    margin-left: 0.5rem;
  }

  .example-right-align {
    text-align: right;
  }

  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  input.example-right-align {
    -moz-appearance: textfield;
  }
  .login-box{
    margin: 15% 15% 25% 15%;
    font-family: Helvetica, sans-serif;

}

.example-card {
    width:23rem;
    background:rgba(0, 0, 0, 0.801);
    color:white;
    font-weight: bolder;
    padding:0.932rem;
  }

  @media(min-width:40rem)
  {
    .login-box{
      margin: 15% 15% 25% 35%;
  
  }
  
  .example-card {
      width:26rem;
    }
  }
  .loginbutton{
    background:white;
    color:black;
    font-weight: bolder;
    padding:0.125rem
  }
mat-label{
  
  color:white;
  font-size:medium;
}
  .example-header-image {
    background-image: url('src/app/pictures/login-lock.png');
    background-position: center;
    background-size: cover;
    padding:0.3125rem;
  }
